<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta name="HandheldFriendly" content="true" />
<link rel="stylesheet" type="text/css" href="{OSSURL}public/mobile/css/new_yab1.css?v=1?v=1111" />
<script type="text/javascript" src="{MODULE_URL}public/mobile/js/jquery-1.10.1.min.js?v=4.9"></script>
<link href="{$_W['siteroot']}web/resource/css/font-awesome.min.css" rel="stylesheet">
{php echo register_jssdks();}
<style type="text/css">

.header { width: 100%; height: 50px; line-height: 50px; position: fixed; z-index: 1000; top: 0; left: 0; box-shadow: 0 0 2px 0px rgba(0,0,0,0.3),0 0 6px 2px rgba(0,0,0,0.15); } .header .l { width: 50px; height: 50px; line-height: 50px; color: white; position: absolute; left: 0; top: 0; } .header .m { width: 100%; height: 50px; line-height: 50px; text-align: center; color: white; font-size: 18px; } .header .r { width: 50px; height: 50px; line-height: 50px; position: absolute; right: 0; top: 0; } .mainColor { background: #06c1ae !important; } .header .l a { font-size: 18px; color: white; display: block; width: 100%; height: 100%; text-align: center; }
.add_link_box{
width:100%;position: absolute;left:0;top:60px;bottom:0;z-index: 9999;background-color:rgba(0,0,0,0.5);display: none}
.add_link_info_wrap{padding:0 10px;margin:0 auto;display: -webkit-box;-webkit-box-orient:vertical;-webkit-box-pack: center;-webkit-box-align: center;height:100%;}
.my_add_link_inner{width: 100%;height:190px;background-color: #fff;border-radius: 10px;padding: 10px 0;}
.my_add_link_inner h3{text-align: center;color:#666;}
.add_link_wrap{height:35px;line-height: 35px;overflow: hidden;padding: 10px; }
.my_link_title {width: 80px;float: left;color: #666666;}
.my_add_link_txt{height:35px;line-height: 35px;box-sizing: border-box;width:70%;outline: none;border:1px solid #dcdcdc;border-radius: 3px;float:left;}
.add_link_btn_wrap{padding: 10px;overflow:hidden;}
.add_link_btn_sure {float: left;width: 40%;height: 35px;line-height: 35px;background: #06c1ae;font-size: 16px;border-radius: 20px;color: #fff;border: none;padding: 0;margin: 0 5%;outline: none;}
#add_link_btn_cancel {background: #ffb24e;}
.link_title {text-align: center;color: #333333;font-size: 16px;margin-top: 2px;}
.main {margin: 10px 10px;box-shadow: 0px 0px 0px rgba(0,0,0,0);background: #FFF;padding: 0;border-radius: 10px;padding-bottom: 10px;}
.main_text a {cursor: pointer !important;text-decoration: underline !important;color: #0094ff;}
.main img {margin-top: 0px;}
.common_no_audit_status {background-color: initial;}
.baby_diary_img_list {margin-left: 5px;margin-top: 5px;padding-bottom: 10px;}
.baby_diary_img_listOther {margin-left: 0;margin-top: 10px;padding-left: 12px;}
.baby_diary_img_list li {width: 32.5%;height: 70px;overflow: hidden;box-sizing: border-box;padding: 2px;float: left;margin: 0;}
.notifyImgItem {width: 30.5% !important;position: relative;}
.btn_closeImg {position: absolute;width: 10px;top: 0;right: 4px;}
.F_div {right: 30px;bottom:75px}
.F_divs {left: 30px;bottom:75px;width: 60px;height: 60px;background: #ff6665;box-shadow: 1px 1px 2px 0px #909090;border-radius: 50px;position: fixed;}
.baby_diary_img_listOther {padding-left: 10px;border-bottom: 1px solid #f0f0f2;}
#notifyContent {padding: 10px;background-color: white;border: 1px solid #f0f0f2;}
.main_text p, .main_text a {display: inline-block;}
.main, .linkDataUrl {cursor: pointer !important;}
.linkDataUrl {text-decoration: underline !important;}
.pv-img {position: relative;}
.imgDesc {position: absolute;right: 15px;height: 20px;line-height: 20px;font-size: 16px;color: white;text-align: right;z-index: 99;}
p img {margin: 10px 0 !important;} 
.slide_left_menu_bg.show_menu_bg {display: block;-webkit-animation-name: fadeIn;animation-name: fadeIn;-webkit-animation-duration: 600ms;animation-duration: 600ms;-webkit-animation-fill-mode: both;/* animation-fill-mode: both; */}
.slide_left_menu_bg_other.show_menu_bg {display: block;-webkit-animation-name: fadeIn;animation-name: fadeIn;-webkit-animation-duration: 600ms;animation-duration: 600ms;-webkit-animation-fill-mode: both;/* animation-fill-mode: both; */}
.slide_left_menu_bg {width: 100%;z-index: 998;background: rgba(0, 0, 0, 0.5);position: fixed;min-height: 100%;top: 0;left: 0;zoom: 1;overflow: hidden;display: none;height: 100%;z-index: 1000;overflow-y: scroll;}
.slide_left_menu_bg_other {width: 100%;z-index: 998;background: rgba(0, 0, 0, 0.5);position: fixed;min-height: 100%;top: 0;left: 0;zoom: 1;overflow: hidden;display: none;height: 100%;
z-index: 1000;overflow-y: scroll;display: none;}
.slide_left_menu {width: 50%!important;right: 0;background-color: #fff;z-index: 999;min-height: 100%;position: absolute;}
.slide_left_menu_ul_other {width: 100%;border: 1px solid #ccc;border-left: none;border-right: none;box-sizing: border-box;padding: 0 10px;}
.slide_left_menu_ul_other li {height: 50px;line-height: 50px;border-bottom: 1px solid #ccc;font-size: 16px;width: 100%;box-sizing: border-box;padding: 0 10px 0 10px;overflow: hidden;
position: relative;}
.slide_left_menu_ul_other li.act {background: url({OSSURL}public/mobile/img/be_choose_icon.png) right center no-repeat;background-size: 16px;background-origin: content-box;-moz-background-origin: content-box;-webkit-background-origin: content-box;}
.slide_left_menu_ul li.act {background: url({OSSURL}public/mobile/img/be_choose_icon_02.png) right center no-repeat;background-size: 16px;background-origin: content-box;-moz-background-origin: content-box;-webkit-background-origin: content-box;}
.slide_left_menu_ul_other li:last-of-type {border-bottom: none;}
.slide_left_menu_ul_other li .user_img {width: 50px;height: 50px;position: absolute;left: -5px;top: 0;box-sizing: border-box;padding: 10px;}
.slide_left_menu_ul_other li .user_img img {width: 100%;height: 100%;border-radius: 50%;}
.slide_left_menu_ul_other li .change_user {width: 40px;height: 100%;position: absolute;right: 0;top: 0;background: url({OSSURL}public/mobile/img/be_choose_icon.png) center no-repeat;background-size: 30px;}
.slide_left_menu_til {height: 40px;line-height: 40px;box-sizing: border-box;padding: 0 40px 0 15px;position: relative;font-size: 16px;}
.slide_left_menu_ul {width: 100%;border: 1px solid #ccc;border-left: none;border-right: none;box-sizing: border-box;padding: 0 10px;}
.slide_left_menu_ul li {height: 50px;line-height: 50px;/*border-bottom: 1px solid #ccc;*/font-size: 16px;width: 100%;box-sizing: border-box;padding: 0 10px 0 50px;overflow: hidden;
position: relative;}
.hederRightBox {width: 21px;height: 100%;display: inline-block;position: absolute;right: 20px;}
.hederRightBox a {width: 100%;height: 21px;display: inline-block;position: absolute;top: 50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);}
.audit_statusNew, .audit_statusPass, .audit_statusPassReject {width: 50px;height: 20px;position: absolute;top: 0;right: 0;font-size: 11px;display: -webkit-box;display: -moz-box;
display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-align: center;-moz-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;
-webkit-box-pack: center;-moz-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;border-top-right-radius: 10px;border-bottom-left-radius: 10px;}
.audit_statusPass {background-color: #cccccc;color: #333333;}
.audit_statusNew {background-color: #ff9f22;color: white;}
.wexintip {height: 20px;width: 20px;background: url({OSSURL}public/mobile/img/weixinicon.png) right center no-repeat;align-items: center;background-size: 16px;}
.boytip {height: 20px;width: 20px;background: url({OSSURL}public/mobile/img/boy_icon.png) right center no-repeat;align-items: center;background-size: 16px;}
.girltip {height: 20px;width: 20px;background: url({OSSURL}public/mobile/img/girl_icon.png) right center no-repeat;align-items: center;background-size: 16px;}
.pard2 {height: 20px;background: #ff9f22;color: white;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-align: center;-moz-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;font-size: 11px;margin-left: 5px;padding: 0 4px;border-radius: 5px;}
.pard3 {height: 20px;background: #199fbf;color: white;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-align: center;-moz-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;font-size: 11px;margin-left: 5px;padding: 0 4px;border-radius: 5px;}
.pard4 {height: 20px;background: #31a914;color: white;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-align: center;-moz-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;font-size: 11px;margin-left: 5px;padding: 0 4px;border-radius: 5px;}
.pard5 {height: 20px;background: rgb(255, 102, 101);color: white;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-align: center;-moz-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;font-size: 11px;margin-left: 5px;padding: 0 4px;border-radius: 5px;}
.erwei {width: 15.5px;height: 15px;position: absolute;top: 90%;right: 35px;transform: translateY(-50%);-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);}
.btnEditBox {top: 90%;right: 61px;}
.btnDeleteBox {top: 90%;}
.erwei>img {position: absolute;top: 0;left: 0;right: 0;bottom: 0;width: 15px;}
#attendance {width: 94%;border-radius: 3%;height: 80px;margin-left: 3%;float: left;background: white;}
#attendance .r1, .m1, .l1 {float: left;height: 70px;width: 30%;margin-top: 5px;}
#attendance div {text-align: center;}
.t div.t1, div.t2, div.t3 {width: 100%;height: 34px;line-height: 40px;}
#num1, #num2, #num3 {font-size: 22px;}
#num1 {color: #14C682;}
#attendance .m1 {border-width: 1px;	width: 35%;}
#attendance .r1, .m1, .l1 {float: left;height: 70px;margin-top: 5px;}
.t .t3 {color: #14C682;}
.user_name {text-align: left;color: #666;font-size: 14px;width: 100%;}
.btn {height: 44px;display: block;background-color: #7bb52d;font: 20px "黑体";text-align: center;color: #fff;cursor: pointer;}
.user_name > input {    display: block;width: 100%;border-radius: 3px;height: 34px;padding: 0 10px;margin-bottom: 10px;border: 1px solid #e4dede;/* -webkit-box-sizing: border-box; */box-sizing: border-box;}
.user_name > select {display: block;width: 100%;height: 34px;border-radius: 3px;padding: 0 10px;margin-bottom: 10px;border: 1px solid #ccc;-webkit-box-sizing: border-box;
box-sizing: border-box;text-align: left;color: #666;font-size: 14px;}
.close_pupop_c {width: 200px; margin: 0 auto;}
.close_pupop_button {width: 90px;height: 30px;border-radius: 5px;line-height: 30px;font-size: 16px;text-align: center;}
.close_pupop_button_1 {background: #e74580;color: #fff;}
.close_pupop_button_2 {background: #56c454;color: #fff;margin-left: 20px;}
.user_name > input {    display: block;width: 100%;border-radius: 3px;height: 34px;padding: 0 10px;margin-bottom: 10px;border: 1px solid #e4dede;/* -webkit-box-sizing: border-box; */box-sizing: border-box;}
.user_name > select {display: block;width: 100%;height: 34px;border-radius: 3px;padding: 0 10px;margin-bottom: 10px;border: 1px solid #ccc;-webkit-box-sizing: border-box;
box-sizing: border-box;text-align: left;color: #666;font-size: 14px;}
.head_buy1 {position: relative;height: 100px;}
.head_buy1 .head_img1{height: 100px;text-align: center;}
.head_buy1 .head_img1>img{height: 100px;}
.famiyls {width: 100%;text-align: left;color: #666;display: inline-flex;border-bottom:1px solid #e9e9e9;margin-top: 20px;}
.left{width: 50%;float: left;display: flex;}
.left_img>img{height: 36px; margin-top: -16px;border-radius: 50%;}
.left_pard{text-align: center;}
.left_name{line-height: 36px;padding: 5px;}
.right{width: 50%;float: right;}
.right>span{line-height: 43px; margin-left: 10px;float: left;}
.weui_switch {font-size: 14px;-webkit-appearance: none;-moz-appearance: none;appearance: none;position: relative;width: 48px;height: 28px;border: 1px solid #DFDFDF;outline: 0;border-radius: 16px;box-sizing: border-box;background: #DFDFDF;vertical-align: middle;float: right;top: 8px;right: 12px;}
.weui_switch:before {content: " ";position: absolute;top: 0;left: 0;width: 46px;height: 26px;border-radius: 15px;background-color: #FDFDFD;-webkit-transition: -webkit-transform .3s;transition: transform .3s;}
.weui_switch:after {content: " ";position: absolute;top: 0;left: 0;width: 26px;height: 26px;border-radius: 15px;background-color: #FFFFFF;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);-webkit-transition: -webkit-transform .3s;transition: transform .3s;}
.manual_student_list_search {padding: 10px;box-sizing: border-box;width: 98%;margin-top: 62px;margin-bottom: 8px;left: 5px;height: 42px;border: 1px solid #d4d4d4;position: relative;background-color: #fff;border-radius: 6px;}
.manual_student_list_search .search_text {border: none;height: 22px;line-height: 22px;font-size: 14px;box-sizing: border-box;width: 100%;padding-right: 30px;}
.manual_student_list_search .search_btn {width: 22px;height: 22px;background: url({OSSURL}public/mobile/img/manual_search_icon.png) no-repeat center;background-size: 22px;position: absolute;right: 10px;
top: 10px;}
</style>
<style type="text/css">
	.TopQuickInfo{width:calc(100% - 20px);height: 80px;background-color:white;margin-left: 10px;margin-top: 10px;border-radius: 10px;box-shadow: 4px 3px 10px 0px #d4d4d4;position: relative;}
	.QuickInfo-cell{width:50%;height: 100%;text-align: center}
	.QuickInfo-cell .data{font-size: 20px;height: 50px;line-height: 60px;font-weight: bold}
	.QuickInfo-cell .word{font-size: 14px;height: 25px;line-height: 25px}
	.top-left-img{width:70px;height:70px;position: absolute ;right: 0px;top:0px}
	.detail-cell{width:100%;line-height: 30px;height: 30px;font-size: 14px;padding-left: 10px}
    .TopToday{font-size: 20px;font-weight: bold;position: relative;}
    .TopLeftTime::after{ content: ""; height: 50px; background-color: #888888; width: 2px; position: absolute;    left: calc(30% + 10px); }
    .deal-btn{height: 25px;position: absolute;bottom: 10px;right: 10px;line-height: 25px;padding:0 10px;border-radius: 5px;border: 1px solid #00bee8;background-color: #0acdf9;color: white;font-weight: bold;}
    .HasDealTip{transform:rotate(45deg); -ms-transform:rotate(45deg); /* Internet Explorer */ -moz-transform:rotate(45deg); /* Firefox */ -webkit-transform:rotate(45deg); /* Safari 和 Chrome */ -o-transform:rotate(45deg);    height: 30px; width: 100px; background-color: #00bee8; text-align: center; line-height: 30px; color: white; font-size: 20px; font-weight: bold; position: absolute; right: -24px; font-family: "kai";}
    .NoDealTip{transform:rotate(45deg); -ms-transform:rotate(45deg); /* Internet Explorer */ -moz-transform:rotate(45deg); /* Firefox */ -webkit-transform:rotate(45deg); /* Safari 和 Chrome */ -o-transform:rotate(45deg);    height: 30px; width: 100px; background-color: #e8b600; text-align: center; line-height: 30px; color: white; font-size: 20px; font-weight: bold; position: absolute; right: -24px; font-family: "kai";}
    .TopTimerange{font-size: 18px;font-weight: bold;position: relative;height: 30px;line-height: 30px;}
    .TopLeftTime{width: 30% ;height: 100%;float: left;display: flex;flex-direction: column;justify-content: space-around; text-align: center;}
	.hascheck{
		background-color:#0094ff;
	}
</style>
{php include $this->template('port');}
<title>喂药记录列表</title>
</head>
<body>
<div class="All">       
    <div class="top_head_blank" style="height:0px"></div>	
    <div class="TopQuickInfo" >
            <div style="width: 30% ;height: 100%;float: left;display: flex;flex-direction: column;justify-content: space-around;text-align: center;" onclick="selectday()" class="TopLeftTime" id="nowday">
                <div class="TopTimerange" style="line-height:40px;" > {php echo date('Y-m-d',$starttime)} </div>
				<div class="TopTimerange"  style="font-size: 14px;height: 20px;line-height: 20px;" >至</div>
				<div class="TopTimerange" style="line-height:20px;" > {php echo date('Y-m-d',$endtime)} </div>
			</div>
			<div class="TopLeftTime"  onclick="selectday()" id="checkday" style="display: none;">
				<div class="TopTimerange" style="line-height:40px;" id="starthtml"> {php echo date('Y-m-d',$starttime)} </div>
				<div class="TopTimerange"  style="font-size: 14px;height: 20px;line-height: 20px;" >至</div>
				<div class="TopTimerange" style="line-height:20px;" id="endhtml"> {php echo date('Y-m-d',$endtime)} </div>
			</div>
          
            <div style="display: flex;flex-direction: row;width:70% ;float: left;">
                <div class="QuickInfo-cell" data-type="1">
                    <div class="data" style="color:#00bee8" id="total_1">{$HasDeal}</div>
                    <div class="word" >已处理</div>
                </div>
                <div class="QuickInfo-cell" data-type="2">
                    <div class="data" style="color:rgb(243, 78, 12)" id="total_2">{$NoDeal}</div>
                    <div class="word" >未处理</div>
                </div>
            </div>
        </div>
	<div class="listContent">
        {loop $drugloglist $key $v}
        <li class="main" time="{$key}" ctype="-1" id="{$v['id']}" style="display: block;position: relative;overflow: hidden;">
            <div class="cutting"></div>
            <div class="notifyTopBox" style="height:70px;">
                <div class="notifyTopLeft">
                    <img src="{if $v['icon']}{php echo tomedia($v['icon'])}{else}{php echo tomedia($school['spic'])}{/if}" class="teacherImgError" />
                </div>
                <div class="notifyTopRight">
                    <div class="notifyTopRightTopBox">					
                        <span class="teacherInfo">{$v['sname']}</span>		
                        {if $v['status'] ==1}
                        <div class="HasDealTip"   >已处理</div>
                        {else}
                        <div class="NoDealTip"   >未处理</div>
                        {/if}
                    </div>
                    <p class="notifyCreateTime">喂药时间：{$v['updatetime']}</p>
                    <p class="notifyCreateTime">喂药老师：{$v['tname']} </p> 
                </div>
            </div>
			
        </li>
        {/loop}	
     
	</div>
</div>

<div class="popUpBox" style="display: none" id="checktime">
    <div class="trackMatte"></div>
    <div class="popContentBox">
        <div class="poptitle" id="sname">请选择时间段</div>
        <div class="sectionContBox" id="selectday" style="display: none">
            <div class="user_name">
                <input class="start" type="date" placeholder="开始时间" id="starttime" value="{php echo date('Y-m-d', $starttime)}"/>
            </div>
            <div class="user_name">
                <input class="end" type="date" placeholder="结束时间" id="endtime" value="{php echo date('Y-m-d', $endtime)}"/>
            </div>	
            <div class="btnBox">
                <div class="btnPass" onclick="tijiao()">确定</div>
                <div class="btnCancel">取消</div>
            </div>
        </div>
    </div>
</div>	
</body>
</html>
<script src="{OSSURL}public/mobile/js/scroll.muti.common.js?v=1717"></script>
<script type="text/javascript">


var defaultstart = `{php echo date('Y-m-d',$starttime)}`;
var defaultend = `{php echo date('Y-m-d',$endtime)}`;
var ClickType = 0 ;
function scroll_fun() {
    // var bottom = $(".has_show_over");
    var winHeight = window.innerHeight || document.documentElement.clientHeight,
        scrollTop = document.body.scrollTop || document.documentElement.scrollTop,
        documentHeight = $(document).height();
    //将当前的浏览器滚动的高度存在浏览器缓存变量scroll_top
    // sessionStorage.setItem('scroll_top' + scroll_load_obj.page_name, scrollTop);
    //判断是否滚到差不多浏览器底部
    if (parseInt(winHeight) + parseInt(scrollTop) + 5 > parseInt(documentHeight)) {
        var self = scroll_load_obj;
        $(window).off("scroll", scroll_fun);
        if (self.ajax_switch) {
            //这里做ajax
            scroll_load_obj.ajax_switch = false;  //把ajax锁关了防止不断ajax
            var datanumb = $(self.ul_box).children('li').length;
            if(datanumb >= 1){
                $('.has_show_over').show();
                $('.has_show_over').animate({height:"45px"});
                $(".jzz").removeClass('jzz_over');
                $('.jzz_text').text('加载中');
            }
            var search_type='';
            var search_content='';
            if($('#search_input').length>0){
                typesearch_content = $.trim($('#search_input').val());
                $('.type_item.checked').each(function () {
                    if (search_type != '') {
                        search_type += ',' + $(this).attr('type');
                    } else {
                        search_type += $(this).attr('type');
                    }
                })
            }
            if (index_type_item != '') {
                search_type = index_type_item;
            }

            var GetLiData = {};
            for(let item of self.param){
                //$(self.ul_box).children('li').eq($(self.ul_box).children('li').length-1)
                //GetLiData[item] = $(param.li_item).eq($(param.li_item).length-1).attr(`${item}`) || -1 ;
                GetLiData[item] = $(self.ul_box).children(`${self.li_item}`).eq($(self.ul_box).children(`${self.li_item}`).length-1).attr(`${item}`) || -1 ;
            }
         
            var post_data = { 
                limit: $(self.ul_box).children('li').eq($(self.ul_box).children('li').length-1).attr('time'),
                noticeytpe: $("#noticeytpe").val(),
                type: search_type,
                LiData : GetLiData,
                limit_org:self.limit_org,
                content: search_content,

                //这个地方将一些其他参数加上去
                starttime : defaultstart,
                endtime : defaultend
            };
            $('.has_show_over').show();
            $.ajax({
                type: 'POST',
                url: self.ajax_url,
                data: post_data,
                dataType: "html",
                success: function (data) {
                    //载入更多内容
                    if ($.trim(data)) {
                        $(self.ul_box).append(data);
                        // sessionStorage.setItem('cache_html' + self.page_name, $(self.ul_box).html());
                        //self.limit = $(self.ul_box).children('li').eq($(self.ul_box).children('li').length-1).attr('time');
                        // sessionStorage.setItem('limit' + self.page_name, self.limit);
                        if (typeof (self.after_ajax) != 'undefined') {
                            self.after_ajax();
                        }
                        $(window).on("scroll", scroll_fun);
                        scroll_load_obj.ajax_switch = true;
                    } else {
                        $('.has_show_over').show();
                        $('.jzz_text').text('数据已加载完毕');
                        $(".jzz").addClass('jzz_over');
                        $(window).off("scroll", scroll_fun);
                        $('.has_show_over').animate({height:"0"});

                    }
                },
                error: function () {
                    jTips('加载失败！');
                    $(window).on("scroll", scroll_fun);
                    scroll_load_obj.ajax_switch = true;
                }
            })
        }

    }
}


setTimeout(function() {
	if(window.__wxjs_environment === 'miniprogram'){
		$("#titlebar").hide();
	}
}, 100);

$(".QuickInfo-cell").click(function() {
	scroll_load_obj.ajax_switch = true;
	$(window).on("scroll", scroll_fun);
    let type = $(this).attr("data-type");
    $(".QuickInfo-cell").removeClass('hascheck');

    if(ClickType == type){
        ClickType = 0;
    }else{
        ClickType = type;
        $(this).addClass('hascheck')
    }
    let url = "{php echo $this->createMobileUrl('tdrugloginfo', array('schoolid' => $schoolid,'op'=>'scroll_more','id'=>$_GPC['id'] ), true)}";
    $.ajax({
        url: url,
        type: "post",
        dataType: "html",
        data:{
            LiData : {
                ctype : ClickType
            },
			starttime : defaultstart,
			endtime : defaultend,
            notscroll : true 
        },
        success: function (res) {
            $(".listContent").html(res);
        }
    });

})

function chack(e,id){
    e = window.event;
	e.stopPropagation();
	e.preventDefault();
	$.ajax({
		url: "{php echo $this->createMobileUrl('tdrugloginfo', array('op'=>'GetDrugInfo'))}",
		dataType: 'html',
		data:{
			weid:"{$weid}",
			schoolid:"{$schoolid}",
			id:id,
		},
		success:function(data){
			$('#datainfo').html(data);
			$('#info').show()
			needtoshow();
		}
	});

}

$('.btnCancel').click(function() {
	$('.popUpBox').hide();
	$('html,body').removeClass('popNoscroll');
});

function selectday(){
	$('#selectday').show();
	$('#checktime').show();
}

function tijiao(){
	scroll_load_obj.ajax_switch = true;
	$(window).on("scroll", scroll_fun);
	defaultstart = $("#starttime").val();
	defaultend = $("#endtime").val();
	$("#starthtml").html(defaultstart)
	$("#endhtml").html(defaultend)
	$("#nowday").hide()
	$("#checkday").show()
	let submitData = {
		schoolid :"{$schoolid}",
		starttime : defaultstart,
		endtime : defaultend,
        id : `{$_GPC['id']}`,
	};
	$.ajax({
		url: "{php echo $this->createMobileUrl('tdrugloginfo',array('op'=>'scroll_more'))}",
		data: submitData,
		type: "POST",
		dataType: "html",
		success: function (data) {
			$('.listContent').html(data);
			$('.popUpBox').hide();
			$('#selectday').hide();
		},
		error: function (XMLHttpRequest, textStatus, errorThrown) {
			console.log(XMLHttpRequest.status);
			console.log(XMLHttpRequest.readyState);
			console.log(textStatus);

		},
	});
}

new Scroll_load({
    "limit": "0",
    "ajax_switch": true,
    "ul_box": ".listContent",
    "li_item": ".listContent .main",
    'param' : ['time','ctype'],
    "ajax_url": "{php echo $this->createMobileUrl('tdrugloginfo', array('schoolid' => $schoolid,'op'=>'scroll_more','id'=>$_GPC['id'] ), true)}",
    "page_name": "teacher_notify",
    "after_ajax": function () {
    }
}).load_init();


var WeixinApi = (function () {
	return {
		imagePreview    :imagePreview
	};
	"use strict";
	/**
	 * 调起微信Native的图片播放组件。
	 * 这里必须对参数进行强检测，如果参数不合法，直接会导致微信客户端crash
	 *
	 * @param {String} curSrc 当前播放的图片地址
	 * @param {Array} srcList 图片地址列表
	 */
	function imagePreview(curSrc,srcList) {
		if(!curSrc || !srcList || srcList.length == 0) {
			return;
		}
		WeixinJSBridge.invoke('imagePreview', {
			'current' : curSrc,
			'urls' : srcList
		});
	}
	return {
		version         :"2.5",
		ready           :wxJsBridgeReady,
		imagePreview    :imagePreview
	};
})();

var srcList = new Array();


function wxImageShow(src){
	WeixinApi.imagePreview(src, srcList);
}

</script>
{php include $this->template('newfooter');} 