<!--
 * @Discription:  
 * @Author: Hannibal·Lee
 * @Date: 2020-02-19 16:24:51
 * @LastEditTime: 2020-02-20 16:21:39
 -->

 {loop $yqdk $row}
 <div class="bangdingForm main" time="{$row['location']}">
    <div class="bangdingBox">
        <div class="headerBox3">
            <div class="headerinfo3">
                <span class="t">{$student['s_name']}({$bj['sname']})</span>
                <span class="r">{php echo date('Y-m-d', $row['createtime'])}</span>
            </div>	
        </div>					
        <div class="infoBox2" style="border:none">
            <ul>
                <li>
                    <span class="l">状&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;态：</span>
                    <span class="r">
                        {if $row['tiwen'] < 35.5 || $row['tiwen'] >37.5}
                        <span class="diary_tag_notify">
                            {$row['tiwen']}℃
                        </span>
                        {else}
                        <span>
                            {$row['tiwen']}℃
                        </span>
                        {/if}
                    </span>
                </li>
                <li>
                    <span class="l">距上次打卡:</span>
                    <span class="r">{if $row['range'] > 100}<span style="color:#f17575;">{$row['range']}</span>{else}{$row['range']}{/if}米</span>
                </li>
                {loop $row['content'] $key2 $row2}
                <li style="text-align: left;">
                    <div style="color: #827A7A;">{php echo yqselect($key2,'title')}:</div>
                    {if is_array($row2)}
                    <div style="padding-top: 10px;padding-left: 20px;">
                        {loop $row2 $item}
                        <span style="color: #827A7A; font-weight: bold;">{php echo yqselect($key2,'data',$item)}</span>
                        {/loop}
                    </div>
                    {else}
                    <div style="color: #827A7A;font-weight: bold;padding-top: 10px;padding-left: 20px;">{php echo yqselect($key2,'data',$row2)}</div>
                    {/if}
                </li>	
                {/loop}
            </ul>
        </div>
    </div>
</div>
 {/loop}