<div class="poptitle">喂药详细说明</div>
    <div class="sectionContBox" >
        <form class="form-order" novalidate="novalidate">
            <div class="form-line">
                <div class="input-wrapper" style="border:none;">
                    <span>喂药说明:</span>
                    <span style="font-weight:bold;margin-left: 20%; display: block;">{$data['content']}</span>
                </div>
            </div>
            <div class="form-line" id="showpic">
                <div class="input-wrapper" style="border:none;">
                    <span style="display: block;">药品图片:</span>
                    <span style="margin-left: 20%; display: block;">
                    {loop $data['headimg'] $row}
                    <img class="needtoshow" src="{php echo tomedia($row)}" width="40px" height="40px;" onclick="wxImageShow(`{php echo tomedia($row)}`)">
                    {/loop}
                    </span>
                </div>
            </div>
            <div class="form-line">
                <div class="input-wrapper" style="border:none;"></div>
            </div>
            <div class="btnBox">
                <div class="btnCancel">关闭</div>
            </div>
        </form>
    </div>
</div>

<script>
$('.btnCancel').click(function() {
    $('.popUpBox').hide();
    $('html,body').removeClass('popNoscroll');
});
function needtoshow(){
    srcList = [];
    $("#showpic").find('img').each(function(){
        srcList.push($(this).attr('src'))
    })
}
</script>
