<!--
 * @Discription:  
 * @Author: Hannibal·Lee
 * @Date: 2020-03-05 13:43:37
 * @LastEditTime: 2020-03-10 10:48:37
 -->
<style>
    .datas_ul.blackUI:nth-of-type(even){
        background-color: #fff;
    }
    .datas_ul.blackUI:nth-of-type(odd){
        background-color: #f5f4f4;
    }
</style>
<div class="datas_ul wihtUI">
    <ul>年级</ul>
    <ul>人数</ul>
    <ul>检查</ul>
    {if $_GPC['leixing'] == 3}
    <ul>异常</ul>
    {else}
    <ul>发热</ul>
    {/if}
    <ul>病假</ul>
    <ul>事假</ul>
</div>
<div id="ajax_datas">
    <div class="datas_ul blackUI">
        <ul>全部</ul>
        <ul>{$AllNum}</ul>
        <ul>{$AllCheckup}</ul>
        <ul>{$AbNormal}</ul>
        <ul>{$qj['bj']}</ul>
        <ul>{$qj['sj']}</ul>
    </div>
    <div class="datas_ul blackUI" onclick="gototeadetail()">
        <ul>职工</ul>
        <ul>{$AllTea}</ul>
        <ul>{$AllCheckupTea}</ul>
        <ul>{$AbNormalTea}</ul>
        <ul>{$teaqj['bj']}</ul>
        <ul>{$teaqj['sj']}</ul>
    </div>
    {loop $njlist $row}
        <div class="datas_ul blackUI" onclick="gotodetail(`{$row[sid]}`)">
            <ul>{$row['sname']}</ul>
            <ul>{$row['njstucount']}</ul>
            <ul>{$row['Checkup']}</ul>
            <ul>{$row['abnormal']}</ul>
            <ul>{$row['bj']}</ul>
            <ul>{$row['sj']}</ul>
        </div>
    {/loop}
</div>

<script>
    $("#dayhtml").html(`{$date}`)
    $("#date").val(`{$date}`)
    $("#time").html(`{$time}`)
    let html = '';
    if(`{$istrue}`){
        html = `<div class="next_right" onclick="next()">后一天 ></div>`
    }else{
        html = `<div class="next_right" style="color:#ccc">后一天 ></div>`
    }
    $("#next_day").html(html)
    
    function gotodetail(njid){
        let leixing = `{$_GPC['leixing']}`
        window.location.href = "{php echo $this->createMobileUrl('tempbjcenter', array('schoolid' => $schoolid), true)}"+'&leixing='+leixing+'&njid='+njid+'&date='+`{$date}`
    }
    function gototeadetail(){
        let leixing = `{$_GPC['leixing']}`
        window.location.href = "{php echo $this->createMobileUrl('tempforclass', array('schoolid' => $schoolid), true)}"+'&leixing='+leixing+'&istea=1&date='+`{$date}`
    }
</script>